<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CricketScoreValueStringList</key>
	<array>
		<string>Twenty</string>
		<string>Nineteen</string>
		<string>Eighteen</string>
		<string>Seventeen</string>
		<string>Sixteen</string>
		<string>Fifteen</string>
		<string>Bullseye</string>
		<string>Doublebullseye</string>
	</array>
	<key>CricketDisplayScoreValueStringList</key>
	<array>
		<string>20</string>
		<string>19</string>
		<string>18</string>
		<string>17</string>
		<string>16</string>
		<string>15</string>
		<string>Bull</string>
	</array>
</dict>
</plist>
